
<% if @user_categories.length > 0 %>
  <% @user_categories.each do |category| %>
    <a class="text-decoration-none" href=<%= "categories/#{category.id}/shopinglists" %>>
      <div class="card mb-3">
        <div class="row g-0 text-center">
          <div class="col-3 ">
            <img src=<%= category.icon %> class="img-fluid rounded-start" alt="...">
          </div>
            <div class="card-body col-5 d-flex flex-column justify-content-between align-items-center">
              <h5 class="card-title"><%= category.name %></h5>
              <p class="card-text pt-3"><%= category.created_at.strftime("%d %b %Y   %l:%M %p") %></p>
            </div>
            <div class="col-3 d-flex flex-column align-items-center justify-content-center">
            <p class="card-text align-self-center">$<%= category.shoping_lists.sum(:amount) %></p>
          </div>
        </div>
      </div>
    </a>
  <% end %>
<% else %>
  <h3 class="mb-5">You don't have any Brand, please add them</h3>
<% end %>
<a href="categories/new">
<button type="button mt-5" class="btn btn-success">Add Brand</button>
</a>

<div class="mb-5 pb-5">